@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

* {
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Exo 2';
}

.hero {
    position: relative;
    text-align: center;
    height: 100vh;
}

.hero .background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: -1;
}

.hero .background .pic {
    height: 100%;
    width: 400vw;
    margin-top: 2rem;
    background-image: url('/img/background.png');
    background-repeat: repeat-x;
    animation: infscroll 30s linear infinite;
    opacity: 0.2;
}

@keyframes infscroll {
    0% {
        transform: translateX(0) scale(1.1);
    }

    97% {
        transform: translate(-200vw) scale(1.1);
    }

    100% {
        transform: translateX(0%) scale(1.1);
    }
}

.hero .container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.hero .title {
    font-size: 4vw;
}

.hero .subtitle {
    font-size: 2vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.hero-cta a:link, a:visited {
    color: white;
    text-decoration: none;
    background: rgb(49, 49, 186);
    color: white;
    padding: .6rem 1.3rem;
    font-size: 2vw;
    border-radius: 0.5rem;
    font-weight: bold;
    display: inline-block;
}

.hero-cta a:hover, a:active {
    background-color: rgb(65, 65, 240);
}

.hero .issue {
    font-size: 1.4rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.hero .issue img {
    width: 4rem;
    height: 4rem;
}

.hero .issue a:active {
    background: none;
}

p {
    line-height: 1.2em;
    margin-bottom: 0.6em;
}

h2 {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.explainer .container {
    padding: 4vw;
    font-size: 1.4rem;
}

.quote {
    font-style: italic;
}

.quote-attr {
    text-align: right;
    margin-top: 0.7rem;
    margin-bottom: 1.6rem;
}

.description img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.select .container {
    text-align: center;
    margin-top: 10vh;
    font-size: 2rem;
}

.analysis .container {
    padding: 4vw;
    font-size: 1.4rem;
}

.collapsible {
    background-color: #e7e7e7;
    cursor: pointer;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-bottom: 0.9rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.4rem;
    font-family: 'Exo 2';
}
  
.collapsible:hover {
    background-color: #ccc;
}
  
.content {
    padding: 0 2rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.more-content {
    padding: 1rem 0;
    font-size: 1rem;
}

.selector {
    font-family: 'Exo 2';
    background-color: #f1f1f1;
    font-size: 1rem;
}

.ensemble, .map1, .map2 {
    max-width: 100%;
    height: auto;
}

.map2 {
    padding-top: 4rem;
}

.boxplot {
    max-width: 70%;
    height: auto;
}

.analysis h2 {
    margin-top: 2rem;
}