@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

* {
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Exo 2';
}

.navbar {
    background: #29668a;
    padding: 1em;
    z-index: 1;
    position: fixed;
    width: 100%;
    color: white;
    font-size: 1.2em;
}

.navbar a {
    text-decoration:none;
    color: #ffffff;
}

.navbar nav {
    display: none;
    text-decoration: none;
}

.navbar .container {
    display: flex;
    place-content: space-between;
    
}

.navbar .mobile-menu {
    float: right;
    margin: .5em;
    cursor: pointer;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 990;
    width: 100%;
    right: 0;
    top: 0;
    background: linear-gradient(to right, #29668a8d, #29668a);
    height: 100vh;
    padding: 1em;
}

nav ul.primary-nav {
    margin-top: 4em;
}

.navbar .container .big-name {
    font-weight: bold;
}

nav li {
    padding: .5em;
    font-size: 1.3em;
    text-align: right;
}

nav li a:hover {
    font-weight: bold;
}

nav li a:active {
    background: none;
}

/* this part doesn't work for some reason */
.navbar .big-name a:active { 
    background: none;
}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    text-align: center;
    height: 100vh;
}

.hero .background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: -1;
}

.hero .background .pic {
    height: 100%;
    width: 400vw;
    margin-top: 4rem;
    background-image: url('../img/background.jpg');
    background-repeat: repeat-x;
    animation: infscroll 30s linear infinite;
    opacity: 0.2;
}

@keyframes infscroll {
    0% {
        transform: translateX(0) scale(1);
    }

    97% {
        transform: translate(-200vw) scale(1);
    }

    100% {
        transform: translateX(0%) scale(1);
    }
}

.hero .container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.hero .title {
    font-size: 8vw;
}

.hero .subtitle {
    font-size: 2.8vw;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.hero-cta a:link, a:visited {
    color: white;
    text-decoration: none;
    background: rgb(49, 49, 186);
    color: white;
    padding: .6rem 1.3rem;
    font-size: 4vw;
    border-radius: 0.5rem;
    font-weight: bold;
    display: inline-block;
}

.hero-cta a:hover, a:active {
    background-color: rgb(65, 65, 240);
}

.hero .issue {
    font-size: 2.8vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.hero .issue img {
    width: 4rem;
    height: 4rem;
}

.hero .issue a:active {
    background: none;
}

p {
    line-height: 1.25em;
    margin-bottom: 0.6em;
}

h2 {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.explainer .container {
    padding: 4vw;
    padding-top: 5rem;
    font-size: 1.2rem;
}

.quote {
    font-style: italic;
}

.quote-attr {
    text-align: right;
    margin-top: 0.7rem;
    margin-bottom: 1.6rem;
}

.description img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.select .container {
    text-align: center;
    padding-top: 7.5rem;
    font-size: 2rem;
}

.analysis .container {
    padding: 4vw;
    font-size: 1.2rem;
}

.collapsible {
    background-color: #e7e7e7;
    cursor: pointer;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-bottom: 0.9rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.2rem;
    font-family: 'Exo 2';
}
  
.collapsible:hover {
    background-color: #ccc;
}
  
.content {
    padding: 0 2rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.more-content {
    padding: 1rem 0;
    font-size: 1rem;
}

.selector {
    font-family: 'Exo 2';
    background-color: #f1f1f1;
    font-size: 1rem;
}

.ensemble, .map1, .map2 {
    max-width: 100%;
    height: auto;
}

.map2 {
    padding-top: 4rem;
}

.boxplot {
    max-width: 70%;
    height: auto;
}

.analysis h2 {
    margin-top: 2rem;
}

.process .container {
    padding: 4vw;
    padding-top: 7.5rem;
    font-size: 1.2rem;
}

.process h1 {
    margin-bottom: 2rem;
}

@media only screen and (min-width: 400px) {
    .description img {
        width: 400px;
    }
}

@media only screen and (min-width: 768px) {
    .mobile-menu, .mobile-menu-exit {
        display: none;
    }
    .navbar {padding: 0.4em 1em;}
    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
    }
    .navbar nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
    }
    .navbar nav ul {
        display: flex;
    }
    .navbar .container .big-name {
        padding: .1em 0.5em;
        font-size: 1em;
        margin-top: 0.8em;
    }
    .navbar .container a {
        padding: .1em 0.5em;
        font-size: 0.8em;
    }

    .navbar nav ul.primary-nav {
        margin: 0;
        margin-right: 2em;
    }

    .navbar nav li.current a {
        font-weight: bold;
    }

    
    .hero .title {
        font-size: 4rem;
    }

    .hero .subtitle {
        font-size: 1.4rem;
    }

    .hero-cta a:link, a:visited {
        padding: .6rem 1.3rem;
        font-size: 2rem;
    }

    .hero .issue {
        font-size: 1.4rem;
    }
}